body {
        height: 100%;
        background-image: url("./patrick-tomasso-71909-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}